*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito';

}

body{
    height: 100vh;
}

.bg-gradient{
    background-image: url(../images/bg-gradient.png);
    height: 100vh;  
}

.bg-map{
    background-image: url(../images/map.png);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 600px;
    margin: auto;
    background-color: white;
    opacity: 0.5;
    height: 600px;
    padding: 50px;
    border-radius: 20px;
    
}